header {
    background: blue;
}

.caixa {
    background: rgb(17, 17, 17);
    width: 940px;
    margin: 0 auto;
    height: 200px;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
}

.menu {
    position: absolute;
    top: 50px;
    left: 300px;
}

.menu-lista {
    display: inline-block;
    border: 1px solid black;
}

.lista-item {
    color: white;
    display: inline;
    font-size: 20px;
    margin-right: 30px;
}